.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: pink;
}

.nav-item {
  position: relative;
  display: inline-block;
}

.logo {
  padding: 10px;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: translateY(-5px);
}
.welcome {
  font-size: 60px;
  font-family: "Bebas Neue", sans-serif;
  padding-top: 20px;
  margin-left: 130px;
}
.nav-link {
  text-decoration: none;
  color: black;
  transition: transform 0.3s ease;
  padding: 20px 50px 0px 0px;
}

.nav-item:hover .nav-link {
  transform: translateY(-5px);
}

